body {
    color: white;
    background:black;
}


.shoot {
	position:absolute;
    color: red;
    width:90%;
    height:50%;
	background: blue;
	cursor:pointer;
}


.delay {
	position:absolute;
    height:90%;
    width:90%;
    top:50%;
	background: white;
}

.delayInput {
	height:50%;
    font-size:14vw;
}