body {
    color: white;
    background:black;
}


.shoot {
	position:absolute;
    color: red;
    width:90%;
    height:50%;
	background: blue;
	cursor:pointer;
}


.delay {
	position:absolute;
    width:90%;
    height:50%;
    top:50%
	background: white;
	
}
